[submodule "krpc-wire-plugin"]
	path = krpc
	url = https://github.com/szkug/krpc-wire-plugin.git
	branch = provide/unk
[submodule "protocol"]
	path = protocol
	url = https://github.com/szkug/unk-pb.git
	branch = dev
